

.register_page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 15px;

  &_card {
    width: 350px;
    background-color: white;
    border-radius: 1px;
    padding: 10px 0;
    border: 1px solid #eee;
    margin-top: 15px;
    text-align: center;



    img {
      object-position: 0 -52px;
      object-fit: cover;
      width: 175px;
      height: 51px;
      cursor: pointer;
      margin-top: 40px;


    }


    h3 {
      color: gray;
      font-size: 17px;
      font-weight: 600;
      line-height: 20px;
      margin: 0 40px 10px;
    }

    form {
      margin-top: 30px;

      input {
        background-color: rgba(250, 250, 250);
        border: 0;
        margin: 0;
        outline: 0;
        padding: 0 5px;
        text-overflow: ellipsis;
        border: 1px solid rgb(222, 219, 219);
        overflow: hidden;
        height: 36px;
        width: 70%;
  
      }

  
    }
    
    .useable_services {
      line-height: 16px ;
      font-weight: 400;
      word-wrap: break-word;
      white-space: pre-line;
      font-size: 12px;
      margin: 0 35px;


    a {
      color: rgb(0, 55, 107);
    }


      
    }

  


  }

  &_bottomCard {
    width: 350px;
    text-align: center;
    background-color: white;
    border-radius: 1px;
    padding: 10px 0;
    border: 1px solid #eee;
    margin-top: 30px;
    text-align: center;


  }






}